<div class="page-width" style="width: 80%; padding-top: 45px; padding-left: 15px">
 <header class="section-header text-center">
 <h1 class="section-header__title h1">{{ page.title }}</h1>
 </header>
  <div>
 <div class="grid">
 <div class="grid__item medium-up - four-fifths medium-up - push-one-tenth">
 <div class="rte">
 {{ page.content }}
 </div>
 </div>
 </div>
</div>
<script src="{{ "jquery_2.2.4.js" | asset_url }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ "jquery.accordion.js" | asset_url }}"></script>
<script type="text/javascript">
(function($){
$(document).ready(function() {
$(".accordion").accordion({
defaultOpen: "1",
cookieName: "accordion_nav"
});
});
})(jQuery);
</script>
 
<ul class="accordion">

  <ul>
      
    <a class="toggle" href="javascript:void(0);">What does Paq do?</a>

    <div class="inner">

      <p>Paq is a sustainable packaging and logistics company that is building a better experience for eCommerce shipments through reusable boxes.  We are creating a conversation around reusables with a mission to create a reuse standard, similiar to the standards around recycling.</p>
 
    
    </ul>
    

    <ul class="accordion">
      
  </ul>

        <a class="toggle" href="javascript:void(0);">Who is your service for?</a>

        <div class="inner">

	<p>Our service is available for online retailers operating in the U.S and Canada.</p>
          

          </ul>
    
    <ul class="accordion">
      
      <ul>
        
        <a class="toggle" href="javascript:void(0);">How is Paq combatting environmental challenges in eCommerce?</a>
        
        <div class="inner">
          
          <p>By creating packaging that is used multiple times vs. single use, we are able to reduce waste and reduce the resources required to create new packaging.  While our primary focus is not to reduce consumer consumption, we do think that much of what is consumed could be reused in some form, therefore creating resource savings across the board. </p>
          
          </ul>
    
    <ul class="accordion">
  

      </li>

        <a class="toggle" href="javascript:void(0);">Why should I reuse?</a>

        <div class="inner">

<p>Reuse is a concept that has been around for over 200 years, and has been gaining popularity in recent years as consumers prioritize sustainability.  Reusing reduces single use, disposable products that ultimately end up in our landfills and oceans.  </p>
          

          </li>
    
    <ul class="accordion">
        

      </li>


        <a class-"toggle" href="javascript:void(0);">What are the benefits?</a>
          
          <p style="disc">
          
            <p>Enhanced consumer experience: better unboxing, sturdier packaging, less time spent on disposal, and a good feeling knowing that you are creating a more sustainable world.</p>
          
          <p>Stronger business operations: our Paq's seamlessy integrate into your existing fulfillment process and ultimately require less time packing and sealing.</p>
          
          <p>Reduced environmental impact
          
          </ul>
    
    <ul class="accordion">
        

  <li>  

    <a class="toggle" href="javascript:void(0);">What sort of impact are we talking about?</a>

    <div class="inner">  
      
      <p>Each paq will help businesses reduce their emissions footprint by over 75% relative to traditional single use (cardboard & plastic)</p>
        
        
    </ul>
    
    <ul class="accordion">
    

      <li>
        

        <a href="#" class="toggle">Where can I get more information on pricing, operational set up, etc? </a>

        <div class="inner">
          
          <p>Send us a note through our "contact us" page and we will set up time to take you through all of the details: pricing, operational flow, and consumer experience</p>
          
          
    


